@font-face {
  font-family: LightHaus;
  src: url('/assets/lighthaus.otf');
}
@font-face {
  font-family: Mont;
  src: url('/assets/Mont/Mont-Regular.ttf');
}
@font-face {
  font-family: MontBold;
  src: url('/assets/Mont/Mont-Bold.ttf');
}
@font-face {
  font-family: MontLight;
  src: url('/assets/Mont/Mont-Light.ttf');
}