@font-face {
  font-family: LightHaus;
  src: url("/assets/lighthaus.otf");
}
@font-face {
  font-family: Mont;
  src: url("/assets/Mont/Mont-Regular.ttf");
}
@font-face {
  font-family: MontBold;
  src: url("/assets/Mont/Mont-Bold.ttf");
}
@font-face {
  font-family: MontLight;
  src: url("/assets/Mont/Mont-Light.ttf");
}
:root {
  --light: "#FFFFFF";
  --dark: "#031412";
  --medium: "#C4C4C4";
  --darkRed: "#9B0000";
  --darkBrown: "#5E3928";
  --lightBrown: "#E4A16F";
}

html {
  width: 100%;
  box-sizing: border-box;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Mont, serif;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);
  overflow-y: hidden;
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  background-image: url("/img/main-banner-noise.png");
  width: 100%;
  height: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  background-image: url("/img/circles-svg.svg");
  width: 100%;
  height: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.hero-inner__menu {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.menu__logo img {
  height: 43px;
  margin-right: 77px;
}

.menu__list {
  margin-top: 10px;
  z-index: 999;
}

.menu__list-anchors {
  font-family: Mont, serif;
  font-size: 16px;
  line-height: 15px;
  list-style: none;
}
.menu__list-anchors li {
  margin-right: 50px;
  display: inline-block;
}
.menu__list-anchors li a {
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.menu__list-anchors li a:hover {
  color: #E4A16F;
  border-bottom: 1px solid #E4A16F;
  font-family: MontBold, serif;
}

.slider {
  height: 80vh;
}

.slider__item {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.slider__text-info {
  position: relative;
  z-index: 999;
}

.text-info__title {
  width: 700px;
  font-family: LightHaus, serif;
  color: #fff;
  font-size: 100px;
  line-height: 75px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  position: relative;
}
.text-info__title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, #ffffff, rgba(0, 0, 0, 0));
}

.text-info__subtitle {
  width: 533px;
  font-family: MontBold, serif;
  font-size: 50px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 40px;
}

.text-info__price {
  width: 328px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.price-text {
  color: #fff;
  font-family: MontLight, serif;
  font-size: 30px;
  line-height: 28px;
}

.price-num {
  color: #fff;
  font-family: MontBold, serif;
  font-size: 30px;
  line-height: 28px;
}

.btn {
  transition: all 0.3s ease-in-out;
  height: 50px;
  padding: 16px 136px;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  color: #fff;
  text-decoration: none;
  position: relative;
}
.btn:hover {
  filter: brightness(0.85);
}

.hero-inner__image {
  position: relative;
  width: 800px;
  float: right;
}
.hero-inner__image:before {
  content: "";
  right: 0;
  position: absolute;
  background-image: url("/img/main-banner-bg.png");
  width: 100%;
  height: 102vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}

.slider__image {
  z-index: 998;
}
.slider__image img {
  position: absolute;
  left: 35%;
  bottom: -80px;
}

.products__title {
  font-family: LightHaus;
  font-size: 50px;
  line-height: 37px;
  margin: 80px 0 46px 0;
  text-align: center;
}

.products__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards__item {
  width: 446px;
  margin-bottom: 30px;
}

.cards__item-wrap {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.cards__item-wrap:hover {
  margin-top: -20px;
}
.cards__item-wrap:hover .item__img:after {
  background-image: url("/img/yellow-shadow.png");
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.2);
}

.item__title {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  width: 357px;
  font-family: Mont, serif;
  font-size: 30px;
  line-height: 29px;
  color: #fff;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
}

.item__img {
  position: relative;
  width: 446px;
  height: 491px;
  transition: all 0.3s ease-in-out;
}
.item__img img {
  height: 100%;
  width: 100%;
}
.item__img:after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 491px;
  background-size: contain;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  background-image: url("/img/green-shadow.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=main.css.map */
